# Created by .ignore support plugin (hsz.mobi)
### Packer template
# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

.idea/

venv/

# mac droppings
*.DS_Store*

bin/

packer